@import 'node_modules/react-h5-audio-player/src/styles.scss';
@import './custom';
@import './fonts';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
