@import './fonts';

body {
  background: url(../images/xala.jpg) no-repeat center;
  mix-blend-mode: darken;
}

h1 {
  display: flex;
  width: min-content;
  height: max-content;
  transform: translate(20px, 20px);
  font-family: 'Montserrat';
  filter: brightness(50%);
  animation: load 8s linear;
}

@keyframes load {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
