.category {
  display: flex;

  @media only screen and (max-width: 992px) {
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 5px;
  }

  &__item {
    flex: auto;
    text-align: center;
    background-color: #028363;
    pointer-events: none;

    &:first-child {
      border-radius: 5px 0 0 5px;

      @media only screen and (max-width: 992px) {
        border-radius: 5px 0 0 0;
      }
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
      @media only screen and (max-width: 992px) {
        border-radius: 0;
      }
    }

    &.active {
      background-color: #00bc8c;
      pointer-events: inherit;
    }
  }

  &__link {
    display: inline-block;
    padding: 1rem 1.4rem;
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
  }
}
