.game {
  background-color: #222;

  &__container {
    max-width: 1140px;
    margin: 0 auto;
  }

  &__guestion {
    margin-bottom: 3rem;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    &-col {
      flex: 0 0 48.5%;
    }
  }

  &__bottom {
    padding-bottom: 3rem;
  }
}
