.question {
  padding: 2rem;
  background-color: #303030;
  border-radius: 5px;

  &__row {
    display: flex;

    &-col {
      &:first-child {
        flex: 0 0 200px;
        margin-right: 4rem;
      }

      &:last-child {
        flex: auto;
      }
    }
  }

  &__img {
    border-radius: 1rem;

    &-file {
      border-radius: 1rem;
    }
  }

  &__title {
    padding-bottom: 1rem;
    border-bottom: 1px solid #555;
    color: #fff;
    font-size: 3.2rem;
  }

  &__audio-player {
    position: relative;
    padding-top: 2.4rem;
    padding-right: 0.5rem;
    padding-left: 6.6rem;
  }
}
